.layoutWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mainContent {

  display: flex;
  flex-direction: column; /* 추가 */
  flex: 1;
  margin-left: 250px; /*!* 사이드바 공간 확보 *!*/
  padding: 20px;
  padding-top: 80px; /* 탑바 공간 확보 */

  background-color: #f9f9f9;
  min-height: calc(100vh - 60px); /* 탑바 높이 빼고 컨텐츠 영역 */
}
