/* 전체 레이아웃 */
.topcontainer {
  display: flex;
}

/* 헤더 스타일 */
/*.toptopbar {*/

/*    background-color: #fff;*/
/*}*/

.toptopbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #3D67D7;
  padding: 1rem 1rem;
  width: 100%;
  /*z-index: 1000;*/

}

.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

/* 로고 */
.toplogo {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}

/* 메뉴 스타일 */
.topmenu {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.topmenulink {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.topmenulink:hover {
  color: #FFD700;
}

/* 오른쪽 아이콘 */
.topicons {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #fff;
}

/* Sidebar 컨테이너 */
.topsidebarcontainer {
  margin-left: 1rem;
}

/* 사용자 정보 스타일 */
.user {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

/* 로그아웃 버튼 스타일 (알림 스타일과 동일) */
.logoutButton {
    background: none;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: opacity 0.2s ease-in-out;
}

.logoutButton:hover {
    opacity: 0.7;
}

