.pageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* 상단 두 개 섹션(직급, 수당)을 가로로 배치 */
.topSection {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 40px;
}

/* 각각의 개별 섹션 스타일 */
.section {
    flex: 1; /* 동일한 비율로 공간 차지 */
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 0 10px;
    background-color: #fff;
}

/* 직급별 호봉 추가는 하단 전체 너비 */
.bottomSection {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.selectWrapper {
    margin-bottom: 15px;
}

.button {
    background-color: #337dff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.userTable {
    width: 900px;
    border-collapse: collapse;
    margin-top: 20px;
}

.userTable th,
.userTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;

}

.userTable th {
    background-color: #f2f2f2;
}
.rank-step-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-row {
    display: flex;
    gap: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: flex-end; /* 버튼을 오른쪽 정렬 */
}

