.approvalDetailPageContainer {
  background-color: #ffffff;
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
  padding-left: 20%;
  padding-right: 20%;

}

.approvalDetailPageTitle {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
  border-bottom: 2px solid #d0d7de;
  padding-bottom: 1rem;

}

.approvalLineTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
  background-color: #fff;
  border: 1px solid #d0d7de;
}

.approvalLineTable th,
.approvalLineTable td {
  border: 1px solid #d0d7de;
  padding: 0.75rem;
  text-align: center;
  font-size: 0.95rem;
}

.approvalLineTable th {
  background-color: #eff3f6;
  font-weight: 600;
}

.approvalDetailMetaTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
  background-color: #fff;
  border: 1px solid #d0d7de;
}

.approvalDetailMetaTable th,
.approvalDetailMetaTable td {
  border: 1px solid #d0d7de;
  padding: 0.75rem;
  font-size: 0.9rem;
  text-align: left;
}

.approvalDetailMetaTable th {
  background-color: #f9fbfd;
  width: 20%;
  font-weight: 600;
}

.contentBox {
  border: 1px solid #d0d7de;
  background-color: #fff;
  padding: 1.5rem;
  line-height: 1.8;
  font-size: 0.95rem;
  margin-bottom: 2rem;
}

.sectionTitle {
  font-weight: 600;
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  border-bottom: 2px solid #d0d7de;
  padding-bottom: 1rem;

}

.approvalDetailtextarea {
  width: 100%;
  height: 80px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: none;
  font-size: 1rem;
}

.approvalDetailbutton {
  background-color: #3182f6;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 0.5rem;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.approvalDetailbutton:hover {
  background-color: #2563eb;
}

.fileSection {
  border: 1px solid #d0d7de;
  background-color: #fff;
  padding: 1rem 1.5rem;
  margin-bottom: 2rem;
}

.fileRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px dashed #ccc;
  font-size: 0.95rem;
}

.approvalStamp {
  width: 48px;
  height: 48px;
  background-color: #f44336;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 0.9rem;
  margin: 0 auto;
  border: 2px solid #c62828;
}